.divCentraliza{
    margin: 25px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
}

.divLeft{

}

button{
    background-color: white;
    margin-top: 25px;
    width: 100%;
    color: black;
    border-radius: 20px;
    height: 50px;
    font-size: 16px;
}

.divRight{
    margin: 20px;
}

h2{
    font-size: 38px;
    font-family: Arial;
    color: white
}

p{
    color: white
}

img{
    max-height: 200px;
}